h3 {
  text-align: center;
}

img {
  width: 500px;
  height: 600px;
}

body {
  background-color: aquamarine;
}

.animal1 {
  display: none;
}

.animal2 {
  display: none;
}

.animal3 {
  display: none;
}
